html,
body,
div,
svg {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

html {
  overflow: hidden;
}

a {
  color: var(--secondary-colour);
}

.pointer {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#background-container img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  transition: opacity 500ms ease-in-out;
}

#presentation-container {
  transition: transform 1s ease-in-out;
}
#presentation-container.minimized {
  transform: translateY(92.5vh);
}

#presentation-container.cursor-red-dot {
  cursor: url('/presentation/assets/img/red-dot.svg') 16 16, url('/assets/img/red-dot.svg') 16 16,
    url('../img/red-dot.svg') 16 16, auto;
}
#presentation-container.cursor-hand {
  cursor: url('/presentation/assets/img/hand.svg'), url('/assets/img/hand.svg'), url('../img/hand.svg'), progress;
}
#presentation-container.cursor-bubble {
  cursor: url('./assets/img/hand.cur'), pointer;
}
/* #presentation-container.remote-cursor {
  cursor: none;
  position: relative;
}
#presentation-container #fake-cursor {
  position: absolute;
  top: var(--xPercent, 0%);
  left: var(--yPercent, -100px);
  transition: all 50ms ease-in-out;
} */

#presentation-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

#presentation-container.presenter {
  height: 100vh;
  display: grid;
  justify-content: unset;
  grid-template-columns: auto 33%;
  grid-template-rows: auto 50px;
  grid-template-areas:
    'slide notes'
    'controls notes';
}

#presentation-container.presenter.remote-cursor {
  display: none;
}
#presentation-container.presenter > svg {
  max-width: calc(100% - 3em);
  margin: 3em;
  grid-area: slide;
}

#presentation-presenter-container {
  grid-area: notes;
}

#presentation-presenter-container svg {
  max-width: 50%;
  margin-block: 1em;
}

#presentation-container > svg {
  width: auto;
  max-height: calc(100vh - 2em - 4px);
  margin-block: 1em;
}

#presentation-presenter-container .notes {
  color: white;
  text-align: left;
}

#presentation-presenter-container hr {
  margin-block: 1em;
  border-width: 2px;
  border-style: dashed;
  border-radius: 50%;
  border-color: var(--primary-colour);
  width: 100%;
}

#presentation-presenter-controls {
  display: none;
  color: white;
}
#presentation-container.presenter > #presentation-presenter-controls {
  display: flex;
  grid-area: controls;
  height: 100%;
}
#presentation-presenter-controls .control.timer {
  height: 100%;
  margin: 0 1em;
  font-size: 2rem;
}
#presentation-presenter-controls .control.options {
  height: 100%;
  margin: 1em 1em 0 1em;
}

.cursor-btn {
  padding: 0.5em;
  margin: 0.5em 0.25em;
  background-color: var(--slide-background-colour);
  border: unset;
  border-radius: 5px;
}
